.table th, .table td, .table tr, .table tbody>tr>td { 
  border: none; 
}

.quoteBar{
  margin-left: 10%;
  margin-right: 10%;
}

#tableCount tr td:nth-of-type(2n+2){
  background-color: #FFE6D8;
}


.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: transparent;
}

.headline {
  text-align: center;
}